# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#################
## ignore files 
##for cocos2d-x project
#################

#cocosDenshion
CocosDenshion

#Debug.win32
Debug.win32

#cocos2dx
cocos2dx
extensions
external
cocos2d

#proj dirs
proj.linux
proj.win8.1-universal
proj.win32
proj.android
proj.android-studio
proj.ios_mac

#Resources
#Resources
Resources
.cocos-project.json
CMakeLists.txt
